{% extends 'about/base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div class="card bg-white p-3 mb-5 authentication-card">
        <h2 class="mb-4 authentication-title">Log In</h2>
        {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %}
        <form method="post" action="{% url 'account:login' %}" class="mb-2">
          {% csrf_token %}
          <div class="mb-3">
            <label
              for="username"
              class="form-label authentication-sub-title"
            >
              Username
            </label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter Your Username"
              required
            >
          </div>
          <div class="mb-3">
            <label
              for="password"
              class="form-label authentication-sub-title"
              aria-label="Password"
            >
              Password
            </label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter Your Password"
              required
            >
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-primary"
              aria-label="Log In Button"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
