{% extends 'about/base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div class="card bg-white p-3 mb-5 authentication-card">
        <h2 class="mb-4 authentication-title">Sign Up</h2>

        {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %}

        <form
          method="post"
          action="{% url 'account:register' %}"
          class="signup-form"
        >
          {% csrf_token %}
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_username"
              aria-label="Username"
            >
              Username:
            </label>
            {{ form.username }}
            <div class="pass-req-txt" id="id_username_helptext">
              Required. 150 characters or fewer. Letters, digits and @/./+/-/_
              only.
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_first_name"
              aria-label="First Name"
            >
              First Name:
            </label>
            {{ form.first_name }}
          </div>
          <hr />
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_last_name"
              aria-label="Last Name"
            >
              Last Name:
            </label>
            {{ form.last_name }}
          </div>
          <hr>
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_email"
              aria-label="Email Address"
            >
              Email:
            </label>
            {{ form.email }}
          </div>
          <hr>
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_password1"
              aria-label="Password"
            >
              Password:
            </label>
            {{ form.password1 }}
            <div class="pass-req-txt" id="id_password1_helptext">
              <ul class="pass-list">
                <li>
                  Your password <strong>can’t</strong> be too similar to your
                  other personal information.
                </li>
                <li>
                  Your password <strong>must</strong> contain at least 8
                  characters.
                </li>
                <li>
                  Your password <strong>can’t</strong> be a commonly used
                  password.
                </li>
                <li>
                  Your password <strong>can’t</strong> be entirely numeric.
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label
              class="reg-sub-title"
              for="id_password2"
              aria-label="Password confirmation"
            >
              Password confirmation:
            </label>
            {{ form.password2 }}
            <div class="pass-req-txt" id="id_password2_helptext">
              Enter the same password as before, for verification.
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-primary"
              aria-label="Sign Up Button"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
