{% extends 'about/base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div class="card bg-white p-3 mb-5 about-card">
        <h2 class="mb-4 text-center reservation-title">Edit Reservation</h2>
        <form method="post" class="form" id="make-reservation-form">
          {% csrf_token %}
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="first_name"
                aria-label="First name"
              >
                {{ form.first_name.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.first_name }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="last_name"
                aria-label="Last name"
              >
                {{ form.last_name.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.last_name }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="email"
                aria-label="Email address"
              >
                {{ form.email.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.email }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="reservation_date"
                aria-label="Reservation date"
              >
                {{ form.reservation_date.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.reservation_date }}</div>
            <div class="row">
              <p>Original Date: {{ form.reservation_date.value }}</p>
            </div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="reservation_time"
                aria-label="Reservation time"
              >
                {{ form.reservation_time.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.reservation_time }}</div>
            <div class="row">
              <p>Original Time: {{ form.reservation_time.value }}</p>
            </div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="reservation_duration"
                aria-label="Party size"
              >
                {{ form.party_size.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.party_size }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="phone_number"
                aria-label="Phone number"
              >
                {{ form.phone_number.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.phone_number }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <label
                class="reservation-form-sub-title"
                for="special_requests"
                aria-label="Special requests"
              >
                {{ form.special_requests.label_tag }}
              </label>
            </div>
            <div class="row">{{ form.special_requests }}</div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-primary mt-3"
              aria-label="Submit Reservation Button"
            >
              Submit Reservation
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'reservation/js/reservation_checks.js' %}"></script>
{% endblock %}
