{% extends 'about/base.html' %}
{% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div class="card bg-white p-3 mb-5 about-card">
        <h2 class="mb-4 text-center reservation-title">Reservation Form</h2>
        <form method="post" class="form" id="make-reservation-form">
          {% csrf_token %}
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">First Name:</span>
            </div>
            <div class="row">{{ form.first_name }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Last Name:</span>
            </div>
            <div class="row">{{ form.last_name }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Email:</span>
            </div>
            <div class="row">{{ form.email }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Reservation Date:</span>
            </div>
            <div class="row">{{ form.reservation_date }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Reservation Time:</span>
            </div>
            <div class="row">{{ form.reservation_time }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Party Size:</span>
            </div>
            <div class="row">{{ form.party_size }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Phone Number:</span>
            </div>
            <div class="row">{{ form.phone_number }}</div>
          </div>
          <div class="form-group text-center mb-3">
            <div class="row">
              <span class="reservation-form-sub-title">Special Requests:</span>
            </div>
            <div class="row">{{ form.special_requests }}</div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-3" aria-label="Submit Reservation Button">Submit Reservation</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'reservation/js/reservation_checks.js' %}"></script>
{% endblock %}
