core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.devcontainer/
env.py
venv/
.vscode/
db.sqlite3
burger_blast.env
test_remove_burger.py
test_add_burger.py
meal_detail.html
menu_edit.html
contact_us.html
.env