/* Import Montserrat for headers and links */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Import Open Sans for general content */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Import Quicksand for navigation links */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* General CSS */
body {
        background-image: url("https://res.cloudinary.com/dcfn1wr8r/image/upload/v1708009049/background_burger_two_hdfelw.jpg");
        background-size: cover;
        background-position: right;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
        font-family: 'Montserrat', sans-serif;
}

/* Index CSS */
.hours {
        text-align: center;
}

.hours-list {
        list-style-type: none;
        padding: 0;
}

.hours-list li {
        margin-bottom: 10px;
}

.hours-list li strong::after {
        content: "";
}

.address,
.contact-info {
        text-align: center;
}

.address p,
.contact-info p {
        margin-bottom: 5px;
}

/* Menu CSS */
.menu-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #262626;
        text-shadow: 2px 2px 2px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.menu-category-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        color: #262626;
        text-shadow: 2px 2px 2px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.meal-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        color: #262626;
        text-shadow: 1px 1px 1px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.meal-description{
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 1em;
        color: #262626;
        text-shadow: 0.5px 0.5px 0.5px #b5b5b5;
        justify-content: center;
        text-align: center;
}

/* Reservation CSS */
.reservation-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #262626;
        text-shadow: 2px 2px 2px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.reservation-sub-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        color: #262626;
        text-shadow: 0.5px 0.5px 0.5px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.reservation-cat-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.05em;
        color: #262626;
        text-shadow: 0.5px 0.5px 0.5px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.reservation-info-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 1em;
        color: #262626;
        text-shadow: 0.5px 0.5px 0.5px #b5b5b5;
}

/* Pagination CSS */
.page-item{
        font-family: 'quickSand', sans-serif;
        display: inline-block;
        text-align: center;
}

.page-item:not(.active) .page-link {
        color: #262626;
        background-color: #b5b5b5;
        border-color: #262626;
}

.page-item.active .page-link {
        color: #b5b5b5;
        background-color: #262626;
        border-color: #b5b5b5;
        font-weight: bolder;
}

/* About CSS */
.about-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: #262626;
        text-shadow: 2px 2px 2px #b5b5b5;
        justify-content: center;
        text-align: center;
}

.about-sub-title{
        font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 1.2em;
                color: #262626;
                text-shadow: 2px 2px 2px #b5b5b5;
                justify-content: center;
                text-align: center;
}

/* Navbar CSS */
.navbar {
        background-color: #f2f2f2e0;
        color: #262626;
        justify-content: space-between;
        flex-wrap: wrap;
}
.navbar-nav {
        flex-direction: column;
        align-items: center;
}

.navbar-nav .nav-link {
        color: black;
        font-weight: normal;
        transition: font-weight 0.3s;
        font-family: 'Quicksand', sans-serif;
        padding: 0.5rem 0.5rem;
}

.navbar-nav .nav-link:hover {
        font-weight: bold;
}

.navbar-nav .nav-link.active {
        font-size: 1.2em;
        font-weight: bold;
}

.navbar .d-flex {
        margin-right: 10px;
}

/* Card CSS */
.my-reservation-card{
        opacity: 0.9;
        color: #262626;
        background-color: #f2f2f2e0;
        border: 1px solid #000000;
        box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
        margin: 0px 0px 20px 0px;
}

.menu-card{
        opacity: 0.9;
        color: #262626;
        background-color: #f2f2f2e0;
        border: 1px solid #000000;
        box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
        margin: 0px 0px 20px 0px;
}

.about-card {
        opacity: 0.9;
        color: #262626;
        background-color: #555353f7;
        border: 1px solid #000000;
        box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
}

.authentication-card {
        opacity: 0.9;
        color: #262626;
        background-color: #555353f7;
        border: 1px solid #000000;
        box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
}

/* Table CSS */
.table-bordered thead th,
.table-bordered tbody td {
        border: 1px solid #dee2e6;
}

/* Custom CSS for line break rows */
.table-striped.table-bordered .line-break-row td {
        border-top: none;
        border-bottom: 2px solid #dee2e6;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-right: none;
        border-left: none;
}

/* Custom CSS for line break rows on hover */
.table-striped.table-bordered .line-break-row:hover td {
        background-color: transparent;
}


/** Footer CSS **/
.content {
        flex: 1;
}

.footer {
        background-color: #292929;
        color: #ffffff;
        padding: 20px 0;
        margin-top: auto;
}

/* media query for smaller screens */
@media screen and (max-width: 768px) {

        /* Adjust field sizes */
        input[type="text"],
        textarea {
                width: 100%;
        }

        /* Adjust label styles */
        label {
                display: block;
                margin-bottom: 5px;
        }

        /* Add scrolling to the form container */
        .form-container {
                overflow-y: auto;
                max-height: 400px;
        }
}