<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <a href="https://www.facebook.com/" class="text-white" target="_blank"><span class="row"><i class="fa-brands fa-square-facebook"></i></span><span class="row">Facebook</span></a>
          <a href="https://twitter.com/" class="text-white" target="_blank"><span class="row"><i class="fa-brands fa-square-x-twitter"></i></span><span class="row">Twitter</span></a>
          <a href="https://www.instagram.com/" class="text-white" target="_blank"><span class="row"></span><i class="fa-brands fa-square-instagram"></i><span class="row">Instagram</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
