{% extends 'about/base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4 align-items-center">
    <div class="col-lg-8 col-md-8 col-12 offset-lg-2 offset-md-2">
      <div class="card about-card bg-white p-4 mb-5">
        <h2 class="mb-4 text-center about-title">About Us</h2>
        <div class="sections">
          <div class="section section-1">
            <div>
              <h3 class="about-sub-title">
                🍔 Welcome to Burger Blast, where flavor meets delight! 🍟
              </h3>
              <p>
                At Burger Blast, we're not just about burgers; we're about
                crafting unforgettable experiences through sensational bites and
                impeccable service. Our passion for delivering top-notch food
                and a warm, inviting atmosphere is what sets us apart.
              </p>
              <hr class="divider">
            </div>
            <div>
              <h3 class="about-sub-title">🔥 Savor the Sizzle:</h3>
              <p>
                Prepare your taste buds for an explosion of flavors! Our burgers
                are not just meals; they're culinary masterpieces meticulously
                crafted to perfection. From the juiciest patties to the freshest
                toppings, every bite is a celebration of taste.
              </p>
              <hr class="divider">
            </div>
          </div>
          <div class="section section-2">
            <div>
              <h3 class="about-sub-title">🌟 Mouth-Watering Creations:</h3>
              <p>
                Dive into our menu, a treasure trove of mouth-watering creations
                that go beyond the ordinary. Whether you're a fan of classic
                cheeseburgers or an adventurer craving bold, innovative
                combinations, we've got something to tantalize every palate.
              </p>
              <hr class="divider">
            </div>
            <div>
              <h3 class="about-sub-title">🛑 No Compromises, Only Quality:</h3>
              <p>
                We believe in the power of quality ingredients. Our commitment
                to sourcing the finest, locally-sourced produce ensures each
                dish tells a story of freshness and authenticity. We don't cut
                corners; we build bridges to your culinary satisfaction.
              </p>
              <hr class="divider">
            </div>
          </div>
          <div class="section section-3">
            <div>
              <h3 class="about-sub-title">👨‍🍳 Crafted by Culinary Artists:</h3>
              <p>
                Our chefs are not just cooks; they're culinary artists
                passionate about transforming ingredients into edible works of
                art. Each dish is a testament to their creativity and dedication
                to delivering a dining experience that transcends the ordinary.
              </p>
              <hr class="divider">
            </div>
            <div>
              <h3 class="about-sub-title">💖 Service with a Smile:</h3>
              <p>
                At Burger Blast, hospitality is our heartbeat. From the moment
                you step through our doors, our friendly staff is ready to make
                you feel at home. It's not just a meal; it's a celebration, and
                you're an integral part of it.
              </p>
              <hr class="divider">
            </div>
          </div>
          <div class="section section-4">
            <div>
              <h3 class="about-sub-title">🌐 Join the Burger Revolution:</h3>
              <p>
                Embark on a journey with Burger Blast and become part of a
                community that appreciates the art of great food, warm ambiance,
                and friendly faces. Follow us on social media, join our events,
                and let's make every moment a flavorful memory.
              </p>
              <hr class="divider">
            </div>
            <div>
              <h3 class="about-sub-title">
                🚀 Blast Off into Flavorful Adventure:
              </h3>
              <p>
                Buckle up for a taste sensation like never before. Burger Blast
                is not just a restaurant; it's a flavor adventure waiting to
                unfold. Come hungry, leave happy — that's the Burger Blast
                promise.
              </p>
              <hr class="divider">
            </div>
          </div>
          <div class="arrow-buttons row justify-content-between">
            <div class="col-auto">
              <button class="btn btn-link prev-section">
                &#8249; Previous
              </button>
            </div>
            <div class="col-auto">
              <button class="btn btn-link next-section">Next &#8250;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% load static %}
<script src="{% static 'about/js/arrows.js' %}"></script>
{% endblock %}
